@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
/* Light Mode (Default) */
:root {
    --background: 233, 30%, 98%;
    --foreground: 233, 20%, 20%;

    --card: 233, 40%, 90%;
    --card-foreground: 233, 30%, 20%;

    --popover: 233, 40%, 95%;
    --popover-foreground: 233, 30%, 20%;

    --primary: 227, 47%, 44%; /* #3D52A0 */
    --primary-foreground: 0, 0%, 100%;

    --secondary: 221, 70%, 70%; /* #7091E6 */
    --secondary-foreground: 233, 30%, 20%;

    --muted: 225, 30%, 60%; /* #8697C4 */
    --muted-foreground: 233, 30%, 20%;

    --accent: 220, 35%, 75%; /* #ADBBDA */
    --accent-foreground: 233, 30%, 20%;

    --destructive: 0, 80%, 50%;
    --destructive-foreground: 0, 0%, 100%;

    --border: 233, 20%, 70%;
    --input: 233, 20%, 80%;
    --ring: 227, 47%, 44%;

    --chart-1: 227, 47%, 44%;
    --chart-2: 221, 70%, 70%;
    --chart-3: 225, 30%, 60%;
    --chart-4: 220, 35%, 75%;
    --chart-5: 265, 50%, 92%; /* #EDE8F5 */
  }

  /* Dark Mode */
  .dark {
    --background: 233, 20%, 15%;
    --foreground: 233, 30%, 90%;

    --card: 233, 30%, 20%;
    --card-foreground: 233, 30%, 90%;

    --popover: 233, 30%, 25%;
    --popover-foreground: 233, 30%, 90%;

    --primary: 227, 47%, 60%;
    --primary-foreground: 233, 30%, 15%;

    --secondary: 221, 70%, 50%;
    --secondary-foreground: 233, 30%, 90%;

    --muted: 225, 30%, 50%;
    --muted-foreground: 233, 30%, 80%;

    --accent: 220, 35%, 60%;
    --accent-foreground: 233, 30%, 80%;

    --destructive: 0, 70%, 40%;
    --destructive-foreground: 233, 30%, 90%;

    --border: 233, 20%, 50%;
    --input: 233, 20%, 60%;
    --ring: 227, 47%, 60%;

    --chart-1: 227, 47%, 60%;
    --chart-2: 221, 70%, 50%;
    --chart-3: 225, 30%, 50%;
    --chart-4: 220, 35%, 60%;
    --chart-5: 265, 50%, 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
